.row {
  display: flex;
  padding: 25px;
}

.column {
  flex: 33.33%;

}

.recipe-name {
height: 15px;
top: 13px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
text-align: center;
letter-spacing: 0.01em;
}

.recipe-instruction {
  font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.01em;
}

.cuisine-type {
  border-radius: 20px;
}

img {
  width:100%;
}