.page-title {
  grid-area: title;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.page-title-container {
  position: relative;
  /* top: 0; */
  background-color: orange;
  width: min(650px, 60%);
  min-width: 400px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  /* Label Settings */
  color: white;
}

.page-subtitle-container {
  position: relative;
  top: -12px;
  background-color: white;
  border-radius: 15px;
  border-color: transparent;
  width: min(400px, 40%);
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Label Settings */
  font-weight: bolder;
  font-size: 1.2rem;
  font-family: Arial;
  color: var(--byte-orange);
}
