.entire-page {
  display: grid;
  height: 100%;
  min-height: 90vh;
  padding: 0px 5vw 30px 5vw;
  grid-template-columns: 1fr;
  grid-template-rows: 150px auto;
  grid-template-areas:
    "title"
    "body";
}

.login-divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-divider-line {
  width: 88px;
  height: 3px;
  background-color: white;
  margin: 5px 10px;
}

.page-content-container {
  grid-area: body;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.diet-button-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 20px;
  justify-content: center;
  width: 80%;
  max-width: 750px;
  margin: auto;
  border: 4px dashed var(--byte-orange);
  border-radius: 15px;
  padding: 30px;
}

.diet-side-menu-buttons {
  position: fixed;
  right: 20px;
  top: 100px;
}

.diet-row {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 10px;
}

.load-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 20%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 60%;
  box-sizing: border-box;
}

.login-container label {
  color: var(--byte-orange);
  font-size: 1.5rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.login-input {
  width: 100%;
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 15px;
  box-sizing: border-box;
}

.contact-container {
  border-radius: 25px;
  color: white;
  height: 70vh;
  margin: 30px 40px 30px 40px;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "A Goblin Appears";
}

.contact-text {
  margin-top: 50px;
  line-height: 50px;
  text-align: left;
  margin-left: 200px;
}
