.entire-page {
  display: grid;
  height: auto;
  padding: 0px 5vw 30px 5vw;
  grid-template-columns: auto;
  grid-template-rows: 140px auto auto;
  grid-template-areas:
    "title"
    "body";
}

.login-divider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-divider-line {
  width: 88px;
  height: 3px;
  background-color: white;
  margin: 5px 10px;
}

.page-content-container {
  grid-area: body;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
