.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.goblin-text {
  font-family: "A Goblin Appears";
}

.body {
  position: relative;
  height: 100%;
  background: linear-gradient(180deg, #efc326 0%, #ff5c00 100%);
}

.body > .login-hero {
  color: white;
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "A Goblin Appears";
  src: local("A Goblin Appears"), url("./fonts/A\ Goblin\ Appears.otf");
}
