.diet-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  width: 180px;
  cursor: pointer;
}

.diet-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 3px 3px rgb(97, 97, 97);
  z-index: 5;
  transition: background-color 0.05s ease-out;
}

.diet-icon {
  width: 100px;
  height: 100px;
}

.diet-text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
  background-color: white;
  padding: 5px;
  min-width: 120px;
  min-height: 23px;
  border-radius: 15px;
  border-color: transparent;
  z-index: 10;
  /* Label Settings */
  color: var(--byte-orange);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  font-family: "Arial";
  transition: background-color 0.05s ease-out;
  box-shadow: 3px 3px rgb(97, 97, 97);
}

.diet-active {
  background-color: var(--byte-orange);
  color: white;
  box-shadow: inset 3px 2px rgb(156, 98, 10);
}
.diet-text-area.diet-active {
  z-index: 4;
}

.diet-button:hover .diet-circle,
.diet-button:hover .diet-text-area {
  background-color: var(--byte-orange);
  color: white;
}
